.dashboard {
  display: block;
  position: fixed;
  top: 100px;
  bottom: 30px;
  left: 0;
  right: 0;
  border-radius: 45px;
  border-top: none;
  border-bottom: none;
  border-left: solid $frame-border-color 15px;
  border-right: solid $frame-border-color 15px;
  background-color: ghostwhite;
}
