.dashboard {
  display: block;
  margin: 100px 0 30px;
  padding: 50px;
  border-radius: 45px;
  border-top: none;
  border-bottom: none;
  border-left: solid $frame-border-color 25px;
  border-right: solid $frame-border-color 25px;
  background-color: ghostwhite;
}

.item{
  padding: 50px;
}
