.header {
  display: block;
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  background-color: #282c34;
  text-align: center;
  z-index: 999;

  .header-title {
    margin: 0;
    color: yellow;
    font-size: 36px;
    line-height: 100px;
    vertical-align: middle;
    font-family: Pacifico, serif;
  }

}
