.dashboard {
  display: block;
  position: fixed;
  top: 100px;
  bottom: 30px;
  left: 0;
  right: 0;
  border-top: none;
  border-bottom: none;
  border-left: solid #282c34 15px;
  border-right: solid #282c34 15px;
  background-color: whitesmoke;
}
